[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:axlet-prog/GatewayService.git
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:axlet-prog/AuthService.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:axlet-prog/OrderService.git
[submodule "menu-service"]
	path = menu-service
	url = git@github.com:axlet-prog/MenuService.git
